<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{error}}</p>
    </div>

   <div class="tenor-gif-embed" data-postid="20286748" data-share-method="host" data-aspect-ratio="1.77778" data-width="100%">
       <a href="https://tenor.com/view/the-weeknd-super-bowl-half-time-show-searching-looking-for-gif-20286748">The Weeknd Super Bowl GIF</a>
       from 
       <a href="https://tenor.com/search/the+weeknd-gifs">The Weeknd GIFs</a>
    </div> 
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

    {{>footer}}
</body>
{{!-- <iframe src="https://giphy.com/embed/YFFIXwYg08nwf4U3y1" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> --}}
</html>