<!DOCTYPE html>

<html>

<head>
    <title>The Messiah</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <div class="tenor-gif-embed" data-postid="22755440" data-share-method="host" data-aspect-ratio="1.78771" data-width="100%">
            <a href="https://tenor.com/view/rick-astly-rick-rolled-gif-22755440">Rick Astly Rick Rolled GIF</a>
            from 
            <a href="https://tenor.com/search/rick+astly-gifs">Rick Astly GIFs</a>
        </div> 
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>

    
    
    {{>footer}}
</body>

</html>