<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <div style="width:100%">
            <div style="height:0;padding-bottom:56.25%;position:relative;width:100%">
                <iframe allowfullscreen="" frameBorder="0" height="100%" src="https://giphy.com/embed/nZYasmPnlRT1oyHDlV/video" style="left:0;position:absolute;top:0" width="100%"></iframe>
            </div>
        </div>
    </div>
    
    {{>footer}}
</body>

</html>