<!DOCTYPE html>

<html>

<head>
    <title>The Messiah</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <img src="/img/helping.jpg" alt="The Messiah">
    
        <div class="btn-holder">
            <a class="btn" href="/helping">Yes, help me!</a>
            <a class="btn" href="/help">No thanks</a>
        </div>
    </div>

    
    
    {{>footer}}
</body>

</html>